*{
    margin: 0px;
    padding: 0px;
    font-family: "Lora", serif;
}

body{
    background-image: url('https://img.freepik.com/free-photo/3d-gym-equipment_23-2151114137.jpg');
    height:100vh; 
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}